body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5;
}

input {
    width: 100;
    padding: 10px;
    margin: 10px 0;
    border: solid #aaa;
    border-radius: 5px;
}

button {
    width: 100px;
    padding: 10px;
    background: #28a303;
    color: white;
    border: none;
    border-radius: 20px;
}

