*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    padding: 10px 40px;
}

h1{
    width: 100%;
    color: rgb(141, 78, 19);
    text-align: center;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(206, 99, 23, 0.897);
    padding: 20px;
    gap: 2vh;
}

section{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

input, button{
    padding: 10px;
    border: 2px solid rgb(141, 78, 19);
}

button{
    cursor: pointer;
    background-color: rgb(206, 99, 23);
    color: white;
    border: none;
}
