body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.caixa {
    width: 300px;
    background: white;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #008cff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #006edc;
}

#resultado {
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}
